<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>followlist</title>
</head>
<body>

    <table border="1">
        <h2>フォロー</h2>
        <tr>
            <th>アカウントID</th>
            <th>アカウント名</th>
        </tr>
        {% for follow in follows %}
        <tr>
            <td>{{ follow.userId }}</td>
            <td>{{ follow.accountName }}</td>
        </tr>
        {% endfor %}
    </table>

    <table border="1">
        <h2>フォロワー</h2>
        <tr>
            <th>アカウントID</th>
            <th>アカウント名</th>
        </tr>
        {% for follower in followers %}
        <tr>
            <td>{{ follower.userId }}</td>
            <td>{{ follower.accountName }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
