<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Futurum liberorum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <header>
                <div class="header-content">
                    <img src="{{ url_for('static', filename='images/icon.png') }}" alt="Icon" class="icon">
                    <div class="title-container">
                        <h1>Futurum liberorum</h1>
                        <img src="{{ url_for('static', filename='images/circle_01.png') }}" class="circle1" alt="Circle">
                        <img src="{{ url_for('static', filename='images/circle_02.png') }}" class="circle2" alt="Circle">
                        <h2 class="subtitle">すべての子育て世帯のための総合支援サービス</h2>
                    </div>
                    <div class="allSearch">
                        <form action="/search" method="GET" class="search-form">
                            <button type="submit">
                                <img src="{{ url_for('static', filename='images/Search.png') }}" alt="検索アイコン" class="search-icon">
                            </button>
                            <input type="text" name="q" placeholder="何をお探しですか？" class="search-box">
                            <p class="guest_text">ようこそ!<br>                        
                            {% for data in aryData %}
                                {{ data[1] }}
                            {% endfor %}様</p>
                        </form>
                    </div>
                    <div class="additional-text">
                        <p>すくすくポイント：                    
                        {% for data in aryData %}
                            {{ data[3] }}
                        {% endfor %}Pt　/　ヘルプ　/　文字サイズ 大・中・小</p>
                    </div>

                    <div class="icon-container">
                        <img src="{{ url_for('static', filename='images/notice.png') }}" alt="Icon 1" class="icon2">
                        <img src="{{ url_for('static', filename='images/cart.png') }}" alt="Icon 2" class="icon2">
                        <img src="{{ url_for('static', filename='images/favorite.png') }}" alt="Icon 3" class="icon2">
                        <a href="/">
                            <img src="{{ url_for('static', filename='images/login.png') }}" alt="Icon 4" class="icon2">
                        </a>
                    </div>
                </div>
            </header>

            <nav class="all">
                <nav class="result">ホーム　≫　ログイン</nav>
                <nav class="category">
                    <div class="allCategory">
                        <ul>
                            <li><a href="/top">トップページ</a></li>
                            <li>お知らせ</li>
                            <li>Futurum liberorumとは</li>
                            <li><a href="/search">商品を探す</a></li>
                            <li><a href="/display_form">商品を出品する</a></li>
                            <li><a href="/search_rental">レンタル品を探す</li>
                            <li><a href="/display_form_rental">レンタルに出す</a></li>
                            <li>お問い合わせ</li>
                        </ul>
                    </div>
                </nav>
            </nav>
        </div>

        <main>
        </main>

        <div class="container">
            <footer>
                <div class="top-bar"></div>
                <div class="info">
                    <p id="title">Futurum liberorum　すべての子育て世帯のための総合支援サービス</p><br>
                    <p id="address">〒450-0002 愛知県名古屋市中村区名駅４丁目２７−１ 総合校舎スパイラルタワーズ <br>
                        IH22　第3グループ　TEL：052-551-1001（ダイヤルイン）</p>
                    <div>
                        <ul>
                            <li>利用規約</li>
                            <li>個人情報保護方針</li>
                            <li>情報セキュリティ方針</li>
                            <li>よくある質問</li>
                            <li>お問い合わせ</li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">
                    copyright &copy;
                    <script>
                        var hiduke = new Date();
                        document.write(hiduke.getFullYear());
                    </script>
                    公益社団法人：全国子ども未来支援協会.All right reserved.
                </div>
            </footer>
        </div>
    </div>
</body>

</html>
