<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Futurum liberorum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <header>
                <div class="header-content">
                    <img src="{{ url_for('static', filename='images/icon.png') }}" alt="Icon" class="icon">
                    <div class="title-container">
                        <h1>Futurum liberorum</h1>
                        <img src="{{ url_for('static', filename='images/circle_01.png') }}" class="circle1" alt="Circle">
                        <img src="{{ url_for('static', filename='images/circle_02.png') }}" class="circle2" alt="Circle">
                        <h2 class="subtitle">すべての子育て世帯のための総合支援サービス</h2>
                    </div>
                    <div class="allSearch">
                        <form action="/search_icon" method="GET" class="search-form">
                            <button type="submit">
                                <img src="{{ url_for('static', filename='images/Search.png') }}" alt="検索アイコン" class="search-icon">
                            </button>
                            <input type="text" name="search_box" placeholder="何をお探しですか？" class="search-box">
                            <p class="guest_text">ようこそ!<br>                        
                            {% for data in aryData %}
                                {{ data[1] }}
                            {% endfor %}様</p>
                        </form>
                    </div>
                    <div class="additional-text">
                        <p>すくすくポイント：                    
                        {{ point }}
                        Pt　/　ヘルプ　/　文字サイズ 大・中・小</p>
                    </div>

                    <div class="icon-container">
                        <img src="{{ url_for('static', filename='images/notice.png') }}" alt="Icon 1" class="icon2">
                        {% for data in aryData %}
                            <a href ="/profile?searchId={{data[0]}}">
                                <img src="{{ url_for('static', filename='images/cart.png') }}" alt="Icon 2" class="icon2">
                            </a>
                        {%endfor%}
                            <img src="{{ url_for('static', filename='images/favorite.png') }}" alt="Icon 3" class="icon2">
                        <a href="/">
                            <img src="{{ url_for('static', filename='images/login.png') }}" alt="Icon 4" class="icon2">
                        </a>
                    </div>
                </div>
            </header>

            <nav class="all">
                <nav class="result">ホーム　≫　出品販売</nav>
                <nav class="category">
                    <div class="allCategory">
                        <ul>
                            <li><a href="/top">トップページ</a></li>
                            <li>お知らせ</li>
                            <li>Futurum liberorumとは</li>
                            <li><a href="/search">商品を探す</a></li>
                            <li><a href="/display_form">商品を出品する</a></li>
                            <li><a href="/search_rental">レンタル品を探す</li>
                            <li><a href="/display_form_rental">レンタルに出す</a></li>
                            <li><a href="/post_search">育児日記</a></li>
                        </ul>
                    </div>
                </nav>
            </nav>
        </div>

        <main>
            <section class="mb-8">
                <h3 class="title_main"> >>あなたへのオススメ </h3>
                <div class="bg-gray-300 h-64">
                    <img alt="osusume" class="midasi" src="{{ url_for('static', filename='images/osusume.jpg') }}" width="760px" />
                </div>
            </section>
            <h2 class="title_main2"> >>検索結果　　{{ search_txt }}</h2>
            <div class="grid-container">
                {% for data in datas %}
                    {% if data.productPhoto %}
                        {% if data.deletionStatus == 0 %}
                            {% if data.listingStatus == "購入済み" %}
                                <div class="grid-item">
                                    <a href="/search_id?searchId={{ data.saleId }}"><img src="{{ data.productPhoto }}" alt="商品画像" class="product_img"></a>
                                    <div class="name_price">
                                        <p class="p_name">{{data.productName}}</p>
                                        <div class="price_area">
                                            <p id="s_price">￥{{data.sellingPrice}}</p>
                                        </div>
                                    </div>
                                    <div class="overlay">SOLD OUT</div>
                                </div>
                            {% else %}
                                <div class="grid-item">
                                    <a href="/search_id?searchId={{ data.saleId }}"><img src="{{ data.productPhoto }}" alt="商品画像" class="product_img2"></a>
                                    <div class="name_price">
                                        <p class="p_name">{{data.productName}}</p>
                                        <div class="price_area">
                                            <p id="s_price">￥{{data.sellingPrice}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                        {% endif %}
                    {% else %}
                        <p>画像なし</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="filter-section">
                <h3>タグでの絞り込み</h3>
                <hr class="hr_navi">
                <div class="filter-category">
                    <h4>・カテゴリー</h4>
                    <ul class="side_navi">
                        <li><a href="/search_tag?tag=子供服">#子供服</a></li>
                        <li><a href="/search_tag?tag=ベビー＆マタニティ">#ベビー & マタニティ</a></li>
                        <li><a href="/search_tag?tag=育児用品">#育児用品</a></li>
                        <li><a href="/search_tag?tag=ベビー用品">#ベビー用品</a></li>
                    </ul>
                </div>
                <hr class="hr_navi">
                <div class="filter-condition">
                    <h4>・コンディション</h4>
                    <ul class="side_navi">
                        <li><a href="/search_tag?tag=新品/未使用">#新品 / 未使用</a></li>
                        <li><a href="/search_tag?tag=未使用に近い">#未使用に近い</a></li>
                        <li><a href="/search_tag?tag=目立った汚れなし">#目立った傷や汚れなし</a></li>
                        <li><a href="/search_tag?tag=やや傷や汚れあり">#やや傷や汚れあり</a></li>
                        <li><a href="/search_tag?tag=傷/汚れあり">#傷 / 汚れ有り</a></li>
                        <li><a href="/search_tag?tag=全体的に状態が悪い">#全体的に状態が悪い</a></li>
                    </ul>
                </div>
                <hr class="hr_navi">
                <div class="filter-price">
                    <h4>・価格</h4>
                    <ul class="side_navi">
                        <li><a href="/search_tag?tag=0～1000円">0 ~ 1000円</a></li>
                        <li><a href="/search_tag?tag=1000～2000円">1000 ~ 2000円</a></li>
                        <li><a href="/search_tag?tag=2000～3000円">2000 ~ 3000円</a></li>
                        <li><a href="/search_tag?tag=3000～5000円">3000 ~ 5000円</a></li>
                        <li><a href="/search_tag?tag=5000円以上">5000円以上</a></li>
                    </ul>
                </div>
            </div>
        </main>

        <div class="container">
            <footer>
                <div class="top-bar"></div>
                <div class="info">
                    <p id="title">Futurum liberorum　すべての子育て世帯のための総合支援サービス</p><br>
                    <p id="address">〒450-0002 愛知県名古屋市中村区名駅４丁目２７−１ 総合校舎スパイラルタワーズ <br>
                        IH22　第3グループ　TEL：052-551-1001（ダイヤルイン）</p>
                    <div>
                        <ul>
                            <li>利用規約</li>
                            <li>個人情報保護方針</li>
                            <li>情報セキュリティ方針</li>
                            <li>よくある質問</li>
                            <li>お問い合わせ</li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">
                    copyright &copy;
                    <script>
                        var hiduke = new Date();
                        document.write(hiduke.getFullYear());
                    </script>
                    公益社団法人：全国子ども未来支援協会.All right reserved.
                </div>
            </footer>
        </div>
    </div>
    
    
</body>

</html>
