<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Futurum liberorum</title>
    <link rel="stylesheet" href="./static/css/reset.css" />
    <link rel="stylesheet" href="./static/css/header.css" />
    <link rel="stylesheet" href="./static/css/register.css" />
    <script>
        async function fetchAddress() {
            const zipcode = document.getElementById('postal-code').value;
            const resultDiv = document.getElementById('result');

            try {
                const response = await fetch(`/get_address?zipcode=${zipcode}`);
                const data = await response.json();

                if (response.ok) {
                    document.getElementById('prefecture').value = data.prefecture;
                    document.getElementById('city').value = data.city;
                    document.getElementById('street').value = data.town;
                } else {
                    resultDiv.innerHTML = `エラー: ${data.error}`;
                }
            } catch (error) {
                resultDiv.innerHTML = "エラーが発生しました。";
            }
        }
    </script>
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <header>
                <div class="header-content">
                    <img src="./static/images/icon.png" alt="Icon" class="icon">
                    <div class="title-container">
                        <h1>Futurum liberorum</h1>
                        <img src="./static/images/circle_01.png" class="circle1" alt="Circle">
                        <img src="./static/images/circle_02.png" class="circle2" alt="Circle">
                        <h2 class="subtitle">すべての子育て世帯のための総合支援サービス</h2>
                    </div>
                    <div class="allSearch">
                        <form action="/search_icon" method="GET" class="search-form">
                            <button type="submit"><img src="./static/images/Search.png" alt="検索アイコン"
                                    id="search-icon"></button>
                            <input type="text" name="search_box" placeholder="何をお探しですか？" id="search-box">
                            <p class="guest_text">ようこそ!<br>
                                {% for data in aryData %}
                                {{ data[1] }}
                                {% endfor %}様
                            </p>
                        </form>
                    </div>
                    <div class="additional-text">
                        <p>すくすくポイント：---Pt　/　ヘルプ　/　文字サイズ 大・中・小</p>
                    </div>
                    <div class="icon-container">
                        <img src="./static/images/notice.png" alt="Icon 1" class="icon2">
                        <img src="./static/images/cart.png" alt="Icon 2" class="icon2">
                        <img src="./static/images/favorite.png" alt="Icon 3" class="icon2">
                        <a href="/"><img src="./static/images/login.png" alt="Icon 4" class="icon2"></a>
                    </div>
                </div>
            </header>
            <nav class="all">
                <nav class="result">ホーム　≫　ユーザー情報更新</nav>
                <nav class="category">
                    <div class="allCategory">
                        <ul>
                            <a href="/">
                                <li>トップページ</li>
                            </a>
                            <li>お知らせ</li>
                            <li>Futuris liberisとは</li>
                            <a href="search.html">
                                <li>商品を探す</li>
                            </a>
                            <a href="syuppinnyuuryoku.html">
                                <li>商品を出品する</li>
                            </a>
                            <li>ご利用ガイド</li>
                            <li>FAQ</li>
                            <li>お問い合わせ</li>
                        </ul>
                    </div>
                </nav>
            </nav>
        </div>

        <main>
            {% for data_ac in account_datas %}
            {% for data_da in address_datas %}
                <div class="container2">
                    <h3>登録情報編集</h3>
                    <form action="/submit_address" method="POST">

                        <h4>アカウント情報</h4>
                        <div class="applicant-info">

                            <div class="input-group">
                                <label for="name-kana">ユーザー名 <span class="required">必須</span></label>
                                <input type="text" id="username" name="username" placeholder="例:HAL太郎"
                                    value="{{ data_ac.accountName }}" required>
                            </div>
                            {% if errors and errors.username %}
                            <p class="error-message">{{ errors.username }}</p>
                            {% endif %}

                            <div class="input-group">
                                <label for="phone">電話番号 <span class="required">必須</span></label>
                                <input type="tel" id="phone" name="phone" placeholder="例：052-XXX-XXX"
                                    oninput="validatePhoneInput()" value="{{ data_ac.phoneNumber }}" required>
                            </div>

                            <div class="input-group">
                                <label for="postal-code">郵便番号 <span class="required"></span></label>
                                <input type="text" id="postal-code" name="postal_code" placeholder="例:450-0002"
                                    oninput="validatePostalInput()" value="{{ data_da.postalCode }}">
                                <button type="button" onclick="fetchAddress()">住所を取得</button>
                                <p id="result"></p>
                            </div>

                            <div class="input-group">
                                <label for="address">都道府県 <span class="required"></span></label>
                                <select id="prefecture" name="address">
                                    <option value="data_da.prefecture">{{data_da.prefecture}}</option>
                                    <option value="北海道" {% if data_da.prefecture == "北海道" %}selected{% endif %}>北海道</option>
                                    <option value="青森県" {% if data_da.prefecture == "青森県" %}selected{% endif %}>青森県</option>
                                    <option value="岩手県" {% if data_da.prefecture == "岩手県" %}selected{% endif %}>岩手県</option>
                                    <option value="宮城県" {% if data_da.prefecture == "宮城県" %}selected{% endif %}>宮城県</option>
                                    <option value="秋田県" {% if data_da.prefecture == "秋田県" %}selected{% endif %}>秋田県</option>
                                    <option value="山形県" {% if data_da.prefecture == "山形県" %}selected{% endif %}>山形県</option>
                                    <option value="福島県" {% if data_da.prefecture == "福島県" %}selected{% endif %}>福島県</option>
                                    <option value="茨城県" {% if data_da.prefecture == "茨城県" %}selected{% endif %}>茨城県</option>
                                    <option value="栃木県" {% if data_da.prefecture == "栃木県" %}selected{% endif %}>栃木県</option>
                                    <option value="群馬県" {% if data_da.prefecture == "群馬県" %}selected{% endif %}>群馬県</option>
                                    <option value="埼玉県" {% if data_da.prefecture == "埼玉県" %}selected{% endif %}>埼玉県</option>
                                    <option value="千葉県" {% if data_da.prefecture == "千葉県" %}selected{% endif %}>千葉県</option>
                                    <option value="東京都" {% if data_da.prefecture == "東京都" %}selected{% endif %}>東京都</option>
                                    <option value="神奈川県" {% if data_da.prefecture == "神奈川県" %}selected{% endif %}>神奈川県</option>
                                    <option value="新潟県" {% if data_da.prefecture == "新潟県" %}selected{% endif %}>新潟県</option>
                                    <option value="富山県" {% if data_da.prefecture == "富山県" %}selected{% endif %}>富山県</option>
                                    <option value="石川県" {% if data_da.prefecture == "石川県" %}selected{% endif %}>石川県</option>
                                    <option value="福井県" {% if data_da.prefecture == "福井県" %}selected{% endif %}>福井県</option>
                                    <option value="山梨県" {% if data_da.prefecture == "山梨県" %}selected{% endif %}>山梨県</option>
                                    <option value="長野県" {% if data_da.prefecture == "長野県" %}selected{% endif %}>長野県</option>
                                    <option value="岐阜県" {% if data_da.prefecture == "岐阜県" %}selected{% endif %}>岐阜県</option>
                                    <option value="静岡県" {% if data_da.prefecture == "静岡県" %}selected{% endif %}>静岡県</option>
                                    <option value="愛知県" {% if data_da.prefecture == "愛知県" %}selected{% endif %}>愛知県</option>
                                    <option value="三重県" {% if data_da.prefecture == "三重県" %}selected{% endif %}>三重県</option>
                                    <option value="滋賀県" {% if data_da.prefecture == "滋賀県" %}selected{% endif %}>滋賀県</option>
                                    <option value="京都府" {% if data_da.prefecture == "京都府" %}selected{% endif %}>京都府</option>
                                    <option value="大阪府" {% if data_da.prefecture == "大阪府" %}selected{% endif %}>大阪府</option>
                                    <option value="兵庫県" {% if data_da.prefecture == "兵庫県" %}selected{% endif %}>兵庫県</option>
                                    <option value="奈良県" {% if data_da.prefecture == "奈良県" %}selected{% endif %}>奈良県</option>
                                    <option value="和歌山県" {% if data_da.prefecture == "和歌山県" %}selected{% endif %}>和歌山県</option>
                                    <option value="鳥取県" {% if data_da.prefecture == "鳥取県" %}selected{% endif %}>鳥取県</option>
                                    <option value="島根県" {% if data_da.prefecture == "島根県" %}selected{% endif %}>島根県</option>
                                    <option value="岡山県" {% if data_da.prefecture == "岡山県" %}selected{% endif %}>岡山県</option>
                                    <option value="広島県" {% if data_da.prefecture == "広島県" %}selected{% endif %}>広島県</option>
                                    <option value="山口県" {% if data_da.prefecture == "山口県" %}selected{% endif %}>山口県</option>
                                    <option value="徳島県" {% if data_da.prefecture == "徳島県" %}selected{% endif %}>徳島県</option>
                                    <option value="香川県" {% if data_da.prefecture == "香川県" %}selected{% endif %}>香川県</option>
                                    <option value="愛媛県" {% if data_da.prefecture == "愛媛県" %}selected{% endif %}>愛媛県</option>
                                    <option value="高知県" {% if data_da.prefecture == "高知県" %}selected{% endif %}>高知県</option>
                                    <option value="福岡県" {% if data_da.prefecture == "福岡県" %}selected{% endif %}>福岡県</option>
                                    <option value="佐賀県" {% if data_da.prefecture == "佐賀県" %}selected{% endif %}>佐賀県</option>
                                    <option value="長崎県" {% if data_da.prefecture == "長崎県" %}selected{% endif %}>長崎県</option>
                                    <option value="熊本県" {% if data_da.prefecture == "熊本県" %}selected{% endif %}>熊本県</option>
                                    <option value="大分県" {% if data_da.prefecture == "大分県" %}selected{% endif %}>大分県</option>
                                    <option value="宮崎県" {% if data_da.prefecture == "宮崎県" %}selected{% endif %}>宮崎県</option>
                                    <option value="鹿児島県" {% if data_da.prefecture == "鹿児島県" %}selected{% endif %}>鹿児島県</option>
                                    <option value="沖縄県" {% if data_da.prefecture == "沖縄県" %}selected{% endif %}>沖縄県</option>
                                    


                                </select>
                            </div>

                            <div class="input-group">
                                <label for="city">市区町村 <span class="required"></span></label>
                                <input type="text" id="city" name="city" placeholder="例：名古屋市中村区"
                                    value="{{ data_da.cityWard }}">
                            </div>

                            <div class="input-group">
                                <label for="street">番地 <span class="required"></span></label>
                                <input type="text" id="street" name="street" placeholder="例：2-29"
                                    value="{{ data_da.addressNumber }}">
                            </div>

                            <div class="input-group">
                                <label for="building">ビル名・建物名</label>
                                <input type="text" id="building" name="building" placeholder="例：スパイラルタワー"
                                    value="{{ data_da.buildingName }}">
                            </div>
                        </div>

                        <div class="input-group">
                            <label for="children-count">子供の人数 <span class="required">必須</span></label>
                            <select id="children-count" name="children_count"
                                value="{{ data_ac.numberOfChildren }}" required>
                                <option value="0" {% if account_datas[0].numberOfChildren == 0 %}selected{% endif %}>0人
                                </option>
                                <option value="1" {% if account_datas[0].numberOfChildren == 1 %}selected{% endif %}>1人
                                </option>
                                <option value="2" {% if account_datas[0].numberOfChildren == 2 %}selected{% endif %}>2人
                                </option>
                                <!-- 他の選択肢もここに追加 -->
                            </select>
                        </div>

                        <div class="buttons">
                            {% for data in aryData %}
                            <a href ="/profile?searchId={{data[0]}}"><button type="submit" class="agree-btn">更新</button></a>
                            {% endfor %}
                            
                        </div>
                    </form>
                </div>
            {% endfor %}
            {% endfor %}
        </main>

        <footer>
            <div class="top-bar"></div>
            <div class="info">
                <p id="title">Futurum liberorum　すべての子育て世帯のための総合支援サービス</p><br>
                <p id="address">〒450-0002 愛知県名古屋市中村区名駅４丁目２７−１ 総合校舎スパイラルタワーズ <br>
                    IH22　第3グループ　TEL：052-551-1001（ダイヤルイン）</p>
                <div>
                    <ul>
                        <li>・利用規約</li>
                        <li>・個人情報保護方針</li>
                        <li>・情報セキュリティ方針</li>
                        <li>・よくある質問</li>
                        <li>・お問い合わせ</li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                copyright &copy;
                <script>
                    var hiduke = new Date();
                    document.write(hiduke.getFullYear());
                </script>
                公益社団法人：全国子ども未来支援協会.All right reserved.
            </div>
        </footer>
    </div>
    <script>
        function formatDateInput() {
            const input = document.getElementById('birthday');
            let value = input.value.replace(/[^0-9]/g, ''); // 数字以外を除去

            // 最大8文字に制限（YYYYMMDD形式）
            if (value.length > 8) {
                value = value.substring(0, 8);
            }

            // 入力の長さに応じて「/」を挿入
            if (value.length > 4 && value.length <= 6) {
                value = value.replace(/^(\d{4})(\d{0,2})$/, '$1/$2');
            } else if (value.length > 6) {
                value = value.replace(/^(\d{4})(\d{2})(\d{0,2})$/, '$1/$2/$3');
            }

            input.value = value; // 入力フィールドに再設定
        }

        function validatePhoneInput() {
            const input = document.getElementById('phone');
            // 入力内容を半角数字だけに制限
            input.value = input.value.replace(/[^0-9]/g, '');
        }

        function validatePostalInput() {
            const input = document.getElementById('postal-code');
            let value = input.value.replace(/[^0-9]/g, ''); // 半角数字以外を削除

            // 最大7文字に制限
            if (value.length > 7) {
                value = value.substring(0, 7);
            }

            if (value.length > 3) {
                // 3文字目の後にハイフンを追加
                value = value.slice(0, 3) + '-' + value.slice(3);
            }

            input.value = value; // 入力値を更新
        }
    </script>
</body>

</html>